:root {
  --animate-duration: 300ms;
  --animate-delay: 0;
}

html {
  height: 100vh;
}
body, #app {
  min-height: 100vh;
}

#main {
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;
}
body.opened #main {
  transform: translateX(calc(100vw - 100px));
}

/*
 * Bootstrap Dashboard
 */

 /*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #262b40;
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 767.98px) {
  .sidebar {
    width: calc(100vw - 100px);
    transform: translateX(-100%);
  }
  body.opened .sidebar {
    transform: translateX(0);
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 81px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 500;
  margin-bottom: .4rem;
  /* Ajustar ícones */
  display: flex;
  align-items: center;
}

.sidebar .nav-link.active, .sidebar .nav-link:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.075);
}

/*
 * Navbar
 */
.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}